# --- Core project requirements ---
pandas
matplotlib
python-dotenv
requests
beautifulsoup4
prettytable

# --- Data processing and analysis ---
numpy
scipy
scikit-learn
statsmodels

# --- Visualization ---
seaborn
plotly

# --- Web scraping and API interaction ---
beautifulsoup4
requests
serpapi

# --- Additional dependencies ---
packaging
pandas-datareader
pandocfilters
parso
pathspec
patsy
pbr
